.header{
    height: 3rem;
    line-height: 3rem;
    background-color: #ffffff;
    border-bottom: 1px solid #e8e8e8;
    overflow: hidden;
}
.header-logo{
    color: #1e90ff;
    font-size: 1rem;
    padding-left: .5rem;
}
.header-txt{
    font-size: .6rem;
    color: #999;
    display: inline-block;
    padding-left: .3rem;
}